<div class="checkbox">
	<input type="checkbox" value="None" id="squaredFour" name="check" />
  <label for="squaredFour">kuri alberto</label>
</div>
<div class="checkbox-error">
	<input type="checkbox" value="None" id="squaredOne" name="check" />
	<label for="squaredOne">error</label>
</div>
