---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

<div class='anchors'>
  <h1>Anchors</h1>  

  <h1>Default buttons size</h1>

  <a href="#" class='button'>Button</a>
  <a href="#" class='button button-warning'>Button</a>
  <a href="#" class='button button-important'>Button</a>
  <a href="#" class='button button-inverse'>Button</a>
  <a href="#" class='button button-info'>Button</a>

  <h1>Large buttons</h1>

  <a href="#" class='button button-large'>Button</a>
  <a href="#" class='button button-warning button-large'>Button</a>
  <a href="#" class='button button-important button-large'>Button</a>
  <a href="#" class='button button-inverse button-large'>Button</a>
  <a href="#" class='button button-info button-large'>Button</a>

  <h1>Small buttons</h1>

  <a href="#" class='button button-small'>Button</a>
  <a href="#" class='button button-warning button-small'>Button</a>
  <a href="#" class='button button-important button-small'>Button</a>
  <a href="#" class='button button-inverse button-small'>Button</a>
  <a href="#" class='button button-info button-small'>Button</a>

  <h1>Mini buttons</h1>

  <a href="#" class='button button-mini'>Button</a>
  <a href="#" class='button button-warning button-mini'>Button</a>
  <a href="#" class='button button-important button-mini'>Button</a>
  <a href="#" class='button button-inverse button-mini'>Button</a>
  <a href="#" class='button button-info button-mini'>Button</a>

  <h1>Block buttons</h1>

  <a href="#" class='button button-block'>Button</a>
  <a href="#" class='button button-warning button-block'>Button</a>
  <a href="#" class='button button-important button-block'>Button</a>
  <a href="#" class='button button-inverse button-block'>Button</a>
  <a href="#" class='button button-info button-block'>Button</a>
  
  <h1>3d buttons</h1>

  <a href="#" class='button button-3d'>Button</a>
  <a href="#" class='button button-warning button-3d'>Button</a>
  <a href="#" class='button button-important button-3d'>Button</a>
  <a href="#" class='button button-inverse button-3d'>Button</a>
  <a href="#" class='button button-info button-3d'>Button</a>

  <h1>Disabled buttons</h1>

  <a href="#" class='button button-large button-disabled'>Button</a>
  <a href="#" class='button button-warning button-large button-disabled'>Button</a>
  <a href="#" class='button button-important button-large button-disabled'>Button</a>
  <a href="#" class='button button-inverse button-large button-disabled'>Button</a>
  <a href="#" class='button button-info button-large button-disabled'>Button</a>

  <h1>Pill buttons</h1>

  <a href="#" class='button button-large button-pill'>Button</a>
  <a href="#" class='button button-warning button-large button-pill'>Button</a>
  <a href="#" class='button button-important button-large button-pill'>Button</a>
  <a href="#" class='button button-inverse button-large button-pill'>Button</a>
  <a href="#" class='button button-info button-large button-pill'>Button</a>

  <h1>Square buttons</h1>

  <a href="#" class='button-square button-primary'>&</a>
  <a href="#" class='button-square button-warning'>&</a>
  <a href="#" class='button-square button-important'>&</a>
  <a href="#" class='button-square button-inverse'>&</a>
  <a href="#" class='button-square button-info'>&</a>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class='buttons'>
  <h1>Buttons</h1>
 
  <h1>Default buttons size</h1>

  <button href="#" class='button'>Button</button>
  <button href="#" class='button button-warning'>Button</button>
  <button href="#" class='button button-important'>Button</button>
  <button href="#" class='button button-inverse'>Button</button>
  <button href="#" class='button button-info'>Button</button>

  <h1>Large buttons</h1>

  <button href="#" class='button button-large'>Button</button>
  <button href="#" class='button button-warning button-large'>Button</button>
  <button href="#" class='button button-important button-large'>Button</button>
  <button href="#" class='button button-inverse button-large'>Button</button>
  <button href="#" class='button button-info button-large'>Button</button>

  <h1>Small buttons</h1>

  <button href="#" class='button button-small'>Button</button>
  <button href="#" class='button button-warning button-small'>Button</button>
  <button href="#" class='button button-important button-small'>Button</button>
  <button href="#" class='button button-inverse button-small'>Button</button>
  <button href="#" class='button button-info button-small'>Button</button>

  <h1>Mini buttons</h1>

  <button href="#" class='button button-mini'>Button</button>
  <button href="#" class='button button-warning button-mini'>Button</button>
  <button href="#" class='button button-important button-mini'>Button</button>
  <button href="#" class='button button-inverse button-mini'>Button</button>
  <button href="#" class='button button-info button-mini'>Button</button>

  <h1>Block buttons</h1>

  <button href="#" class='button button-block'>Button</button>
  <button href="#" class='button button-warning button-block'>Button</button>
  <button href="#" class='button button-important button-block'>Button</button>
  <button href="#" class='button button-inverse button-block'>Button</button>
  <button href="#" class='button button-info button-block'>Button</button>
  
  <h1>3d buttons</h1>

  <button href="#" class='button button-3d'>Button</button>
  <button href="#" class='button button-warning button-3d'>Button</button>
  <button href="#" class='button button-important button-3d'>Button</button>
  <button href="#" class='button button-inverse button-3d'>Button</button>
  <button href="#" class='button button-info button-3d'>Button</button>

  <h1>Disabled buttons</h1>

  <button href="#" class='button button-large button-disabled'>Button</button>
  <button href="#" class='button button-warning button-large button-disabled'>Button</button>
  <button href="#" class='button button-important button-large button-disabled'>Button</button>
  <button href="#" class='button button-inverse button-large button-disabled'>Button</button>
  <button href="#" class='button button-info button-large button-disabled'>Button</button>

  <h1>Pill buttons</h1>

  <button href="#" class='button button-large button-pill'>Button</button>
  <button href="#" class='button button-warning button-large button-pill'>Button</button>
  <button href="#" class='button button-important button-large button-pill'>Button</button>
  <button href="#" class='button button-inverse button-large button-pill'>Button</button>
  <button href="#" class='button button-info button-large button-pill'>Button</button>

  <h1>Square buttons</h1>

  <button href="#" class='button-square button-primary'>&</button>
  <button href="#" class='button-square button-warning'>&</button>
  <button href="#" class='button-square button-important'>&</button>
  <button href="#" class='button-square button-inverse'>&</button>
  <button href="#" class='button-square button-info'>&</button>
<br />
<br />
<br />
<br />
<br />
<br />
</div>
