<span class="label">Label</span>
<span class="label label-warning">Label</span>
<span class="label label-important">Label</span>
<span class="label label-inverse">Label</span>
<span class="label label-info">Label</span>


<a href='#' class="label">Label</a>
<a href='#' class="label label-warning">Label</a>
<a href='#' class="label label-important">Label</a>
<a href='#' class="label label-inverse">Label</a>
<a href='#' class="label label-info">Label</a>

<span class="label label-large">Label</span>
<span class="label label-warning label-large">Label</span>
<span class="label label-important label-large">Label</span>
<span class="label label-inverse label-large">Label</span>
<span class="label label-info label-large">Label</span>
