<h1>Regular table</h1>
<table class='table'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>1</td>
       <td>Eduardo</td>
       <td>Higareda</td>
       <td>@eldelentes</td>
    </tr>
    <tr>
       <td>2</td>
       <td>Abraham</td>
       <td>Kuri</td>
       <td>@kurenn</td>
    </tr>
  </tbody>
</table>

<h1>Inverse table</h1>
<table class='table table-inverse'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>1</td>
       <td>Eduardo</td>
       <td>Higareda</td>
       <td>@eldelentes</td>
    </tr>
    <tr>
       <td>2</td>
       <td>Abraham</td>
       <td>Kuri</td>
       <td>@kurenn</td>
    </tr>
  </tbody>
</table>

<h1>Striped table</h1>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>1</td>
       <td>Eduardo</td>
       <td>Higareda</td>
       <td>@eldelentes</td>
    </tr>
    <tr>
       <td>2</td>
       <td>Abraham</td>
       <td>Kuri</td>
       <td>@kurenn</td>
    </tr>
  </tbody>
</table>

<h1>Hover table</h1>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>1</td>
       <td>Eduardo</td>
       <td>Higareda</td>
       <td>@eldelentes</td>
    </tr>
    <tr>
       <td>2</td>
       <td>Abraham</td>
       <td>Kuri</td>
       <td>@kurenn</td>
    </tr>
  </tbody>
</table>


<h1>Narrow table</h1>
<table class='table table-narrow'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>1</td>
       <td>Eduardo</td>
       <td>Higareda</td>
       <td>@eldelentes</td>
    </tr>
    <tr>
       <td>2</td>
       <td>Abraham</td>
       <td>Kuri</td>
       <td>@kurenn</td>
    </tr>
  </tbody>
</table>
