/*------------------------------------*\
    $Check box
\*------------------------------------*/
/**
 * Basic check box structural styling. 
 * 
 * Designed and built by @eldelentes and @kurenn  
 */

@import 'colors';
@import 'compass/css3';

input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.checkbox {
  position: relative;
  width: 200px;
  margin-bottom: 10px;

  label {
    cursor: pointer;
    display: inline-block;
    width: auto;
    color: $primary;
    overflow: visible;
    padding-left: 30px;
    line-height: 1.5em;
    
    &:before {
       position: absolute;
       z-index: 5;
       content: " ";
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    @include border-radius(4px);
    border: 2px solid #ccc;
    background: #FFF;
    display:block;
    opacity: 1;

    }

    &:after {
      @include opacity(0);
      content: '';
      z-index: 10;
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 6px;
      left: 6px;
      border: 3px solid $primary;
      border-top: none;
      border-right: none;
      @include rotate(-45deg);
    }
  }
  input[type=checkbox]:checked + label:after {
    @include opacity(1);
  }
}

.checkbox-error {
  @extend .checkbox; 
  label {
    color: $important;

    &:before {
      border: 2px solid lighten($important, 10%);
    }
  }
}

